<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Christi's Math Program</title>
  <link href="css/bootstrap.css" rel="stylesheet">

</head>

<body style="background-color:#212121">
  <p id="getdate"></p>

<script>
document.getElementById("getdate").innerHTML = Date();
</script>


<h3>Welcome!</h3>

<!-- <ul class="list-unstyled"> -->
<form method='post' action='math_type'>
  <input type="radio" name="Addition" value="Addition"> Addition<br>
  <input type="radio" name="Subtraction" value="Subtraction"> Subtraction<br>
  <input type="radio" name="Multiplication" value="Multiplication"> Multiplication<br>
<br>
<br>
  <button type='submit' class='btn btn-primary'>Select</button>
<!-- </ul> -->
</form>



</body>
</html>
