<!DOCTYPE html>
<html>
<head>
  <title>Math Program</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body style="background-color:#1899b7">
<header> <img src="http://clemdog.com/viewer/math_final-01.png" style="max-width:100%;height:auto;"> </header>
<h2 style="color:#ffffff;">
<center>

<div class="w3-container">


<table class="w3-table">
<table align="center">

<tr>

<td>
<center>
<h3> Please type your operator selection. (Addition, subtraction, multiplication or division.) </h3>
	<br>
	<form method="post" action="math">
	<input type="text" name="math_type">
	<br>
<h3> Please type the two numbers you'd like to calculate.</h3>
 	<br>
	<input type="integer" name="p1">
	<br>
	<input type="integer" name="p2">
	<br>
	<br>
	<input type="submit">
</form>
</td>

</table>
</table>
</div>
</center>
</h2>
</body>
</html>
